<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-a3WG7Skvg-djTprS2vfd_mSp2jT4tsU</string>
	<key>GCM_SENDER_ID</key>
	<string>108146441978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftbeta.SaveLink</string>
	<key>PROJECT_ID</key>
	<string>savelink-82bef</string>
	<key>STORAGE_BUCKET</key>
	<string>savelink-82bef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108146441978:ios:20cd78813c22b140e19343</string>
</dict>
</plist>